@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;700&display=swap');

.about-container-main {
  width: 1920px;
  background-color: #fdf5e6;
  margin-top: 0;
  padding: 120px 0;
}

.about-container {
    width: 1920px;
    height: 1100px;
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
}

.where-tredition-container-main {
  width: 1350px;
  height: 796px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
}

.flower-parrtern {
    height: 371px;
}

.where-tredition-container {
    width: 634px;
    height: 590px;
}

.where-tredition-heading {
    font-family: 'Barlow Condensed';
    font-weight: 400;
    font-style: Regular;
    font-size: 84px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color:#EC1D84;
}

.where-tredition-para {
    font-family: 'Work Sans';
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #874063;
}

.view-about-btn { 
    width: 230px;
    height: 68px;
    opacity: 1;
    background-color: #FE1795;
    font-family: 'Barlow Condensed';
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 8%;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    color: #FFFEEB;
}

.greenlogo-star-image-container {
    background-image: url('https://res.cloudinary.com/dasuvkmgv/image/upload/v1763382802/Group_1171275276_znnfm0.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 650px;
    height: 660px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.green-logo-star {
    width: 144px;
    height: 144px;
}

.star-image {
    align-self: flex-end;
}

.star-pattern {
    align-self: flex-end;
}